{% extends 'base.html' %}
{% block title %}{{ title }}{% endblock %}

{% block sidebar %}
{% include 'inc/_sidebar.html' %}
{% endblock %}

{% block content %}
<div class="content-section">
    <form method="POST">
        {% csrf_token %}
        <fieldset class="form-group">
            <legend class="border-bottom mb-4">Сброс пароля</legend>
        </fieldset>
        <div class="invalid-feedback d-block">
            {{ form.non_field_errors }}
        </div>
        <div class="form-group">
            <label for="{{ form.email.id_for_label }}">Введите свою почту:</label>
            {{ form.email }}
            <div class="invalid-feedback d-block">
                {{ form.email.errors }}
            </div>
        </div>
        <div class="form-group">
            <button class="btn btn-outline-info" type="submit">Сбросить пароль</button>
        </div>
    </form>
</div>
{% endblock content %}