{% load static %}
<div class="bar" id="rightBar">

    <div id="r_bar_id">
        <div class="up_r_bar" id="up_r_bar_id">
            <p class="bar_center" id="yv_bar_id">
                <img class="yv_bar" src="{% static 'img/bell.png' %}">
            <div id="circle">&#x25CF;</div>
            <p id="count_yv">3</p>
            </p>

        </div>
    </div>
    <div id="rightBarClose" class="rightBarDinamic">
        <div id="closeLeftBar"><img class="close-right-bar" src="back_m.png"></div>
        <h1 class="notifications-title">Новые уведомления</h1>
        <hr class="hr-shelf">
        <div id="ConteinerForSignal">


            <div class="signal">
                <h3>Пост "Куллер"</h3>
                <h4>22 новых комментария</h4>
                <h4>67 новых лайков</h4>
                <h4>Рейтинг активности поста: 2130</h4>
            </div>
            <div class="signal">
                <h3>Пост "Куллер"</h3>
                <h4>22 новых комментария</h4>
                <h4>67 новых лайков</h4>
                <h4>Рейтинг активности поста: 2130</h4>
            </div>
            <div class="signal">
                <h3>Пост "Проект 431"</h3>
                <h4>74 новых комментария</h4>
                <h4>31 новых лайков</h4>
                <h4>Рейтинг активности поста: 1430</h4>
            </div>

        </div>

    </div>
</div>