{% extends 'base.html' %}
{% load comments comments_xtd %}
{% block sidebar %}
{% include 'inc/_sidebar.html' %}
{% endblock %}

{% block content %}
{% if idea_item %}
<div class="card mb-3">
    <div class="card-header">
        <h2 class="font-weight-bold">{{ idea_item.title }}</h2>
    </div>
    <div class="card-body">
        <div class="media">
            <div class="media-body">
                <p class="card-text">{{ idea_item.content|safe }}</p>
            </div>
        </div>

    </div>
    <ul class="media-list">
        {% render_xtdcomment_tree for idea_item allow_flagging allow_feedback show_feedback %}
    </ul>
    <div class="card-footer text-muted">
        Опубликовано : {{ idea_item.date|timesince }} назад.
    </div>
</div>
{% endif %}
{% endblock %}