{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'css/style_art.css' %}" type="text/css"/>
    <link rel="stylesheet" href="{% static 'css/style.css' %}" type="text/css"/>
    <link rel="stylesheet" href="{% static 'css/styleForPublish.css' %}" type="text/css"/>
    <link rel="stylesheet" href="{% static 'css/reglament-style.css' %}" type="text/css"/>
    <title>{% block title %}Газпром Идеи{% endblock %}</title>
</head>
<body>
{% include 'inc/_sidebar_left.html' %}

{% include 'inc/_sidebar_right.html' %}

<div id="mainContainer">
    {% block content %}CONTENT{% endblock %}
</div>

</body>
<script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
<script src="{% static 'js/script.js' %}"></script>
</html>